<a href="https://colab.research.google.com/github/mrsmarried2thegame/coding-club_data-exploratiom-w-pandas/blob/main/Data_Exploration_with_Pandas_College_Major_v_s_Your_Salary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Welcome to an intoduction to the Python library PANDAS!")

Welcome to an intoduction to the Python library PANDAS!

In [ ]:
import pandas as pd

# Surppressing the warnings:
#import warnings
#warnings.filterwarnings('ignore')

df = pd.read_csv('salaries_by_college_major.csv')

In [ ]:
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [ ]:
# If I wanted to see a certain rows of the data frame
df.head(20).T
# T = Trampose

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
Undergraduate Major,Accounting,Aerospace Engineering,Agriculture,Anthropology,Architecture,Art History,Biology,Business Management,Chemical Engineering,Chemistry,Civil Engineering,Communications,Computer Engineering,Computer Science,Construction,Criminal Justice,Drama,Economics,Education,Electrical Engineering
Starting Median Salary,46000.0,57700.0,42600.0,36800.0,41600.0,35800.0,38800.0,43000.0,63200.0,42600.0,53900.0,38100.0,61400.0,55900.0,53700.0,35000.0,35900.0,50100.0,34900.0,60900.0
Mid-Career Median Salary,77100.0,101000.0,71900.0,61500.0,76800.0,64900.0,64800.0,72100.0,107000.0,79900.0,90500.0,70000.0,105000.0,95500.0,88900.0,56300.0,56900.0,98600.0,52000.0,103000.0
Mid-Career 10th Percentile Salary,42200.0,64300.0,36300.0,33800.0,50600.0,28800.0,36900.0,38800.0,71900.0,45300.0,63400.0,37500.0,66100.0,56000.0,56300.0,32200.0,36700.0,50600.0,29300.0,69300.0
Mid-Career 90th Percentile Salary,152000.0,161000.0,150000.0,138000.0,136000.0,125000.0,135000.0,147000.0,194000.0,148000.0,148000.0,143000.0,162000.0,154000.0,171000.0,107000.0,153000.0,210000.0,102000.0,168000.0
Group,Business,STEM,Business,HASS,Business,HASS,STEM,Business,STEM,STEM,STEM,HASS,STEM,STEM,Business,HASS,HASS,Business,HASS,STEM

Questions to answer:

How many rows does our dataframe have?

**51 Rows**

How many columns does it have?

**6 Columns**

What are the labels for the columns? Do the columns have names?

*   **Undergraduate Major**
*   **Starting Median Salary**
*   **Mid-Career Median Salary**
*   **Mid-Career 10th Percentile Salary**
*   **Mid-Career 90th Percentile Salary**
*   **Group**

Are there any missing values in our dataframe? Does our dataframe contain any bad data?

In [ ]:
df.shape

(51, 6)

In [ ]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [ ]:
# One of the ways to check missing values in the dataset:
df.isna()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,False,False
11,False,False,False,False,False,False
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,False,False,False,False,False
15,False,False,False,False,False,False
16,False,False,False,False,False,False
17,False,False,False,False,False,False
18,False,False,False,False,False,False
19,False,False,False,False,False,False
20,False,False,False,False,False,False
21,False,False,False,False,False,False
22,False,False,False,False,False,False
23,False,False,False,False,False,False
24,False,False,False,False,False,False
25,False,False,False,False,False,False
26,False,False,False,False,False,False
27,False,False,False,False,False,False
28,False,False,False,False,False,False
29,False,False,False,False,False,False
30,False,False,False,False,False,False
31,False,False,False,False,False,False
32,False,False,False,False,False,False
33,False,False,False,False,False,False
34,False,False,False,False,False,False
35,False,False,False,False,False,False
36,False,False,False,False,False,False
37,False,False,False,False,False,False
38,False,False,False,False,False,False
39,False,False,False,False,False,False
40,False,False,False,False,False,False
41,False,False,False,False,False,False
42,False,False,False,False,False,False
43,False,False,False,False,False,False
44,False,False,False,False,False,False
45,False,False,False,False,False,False
46,False,False,False,False,False,False
47,False,False,False,False,False,False
48,False,False,False,False,False,False
49,False,False,False,False,False,False
50,False,True,True,True,True,True

In [ ]:
# Another way:
df.isnull().T

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
Undergraduate Major,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Starting Median Salary,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
Mid-Career Median Salary,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
Mid-Career 10th Percentile Salary,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
Mid-Career 90th Percentile Salary,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
Group,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [ ]:
df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Delete the last row (becuase it has at least 1 missing value )
new_df = df.dropna()
new_df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

To delete a specific row, for example, the row at index 50, you would use the `drop()` method:

In [ ]:
df_after_dropping_row_50 = Expirement.drop(index=50)
display(df_after_dropping_row_50.tail())

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

Notice that the last row (index 50) is now gone. The `Expirement` DataFrame itself remains unchanged unless you assign the result back to it or use `inplace=True`.

In [ ]:
# To drop a specific row
dropped_row = df.drop(index = 3)
dropped_row.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business
5,Art History,35800.0,64900.0,28800.0,125000.0,HASS

In [ ]:
# to see the maximium salary a new grad can get with a degree without mentioning the degree itself
Rich = new_df['Starting Median Salary'].max()
print(f"Ayo! you be making ${Rich}!! Good call on going to college")

Ayo! you be making $74300.0!! Good call on going to college

In [ ]:
# Vise versa
Result = new_df['Starting Median Salary'].min()
print(f"The lowest a new grad can go is ${Result}")

The lowest a new grad can go is $34000.0

In [ ]:
# BUT to know the specifics:
Degree = new_df['Starting Median Salary'].idxmax()
print(Degree)

43

In [ ]:
# Again vise versa:
bad = new_df['Starting Median Salary'].idxmin()
print(bad)

49

In [ ]:
new_df.loc[49]

Undergraduate Major                  Spanish
Starting Median Salary               34000.0
Mid-Career Median Salary             53100.0
Mid-Career 10th Percentile Salary    31000.0
Mid-Career 90th Percentile Salary    96400.0
Group                                   HASS
Name: 49, dtype: object

In [ ]:
new_df['Undergraduate Major'].loc[43]

'Physician Assistant'

In [ ]:
# To call the row and see al info
new_df.loc[43]

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

What college major has the highest mid-career salary? How much do graduates with this major earn? (Mid-career is defined as having 10+ years of experience).

Which college major has the lowest starting salary and how much do graduates earn after university?

Which college major has the lowest mid-career salary and how much can people expect to earn with this degree?